*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Syne", sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cl-internal-1dauvpw
{
  display: none;
}
.dev-banner
{
display: none;
}