.cart-page {
    padding: 20px;

  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .cart-item-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .quantity-controls button{
      background-color:#F46800;
      padding: 5px 13px;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  .rmv{
    background-color: #F46800;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .booking-details{
    display:flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }