.cart-page {
    padding: 20px;
    

  }
  .cart-content
  {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .cart-item-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .cart-item-details h3 {
    width: 60px;
  }
  .quantity-controls button{
      background-color:#F46800;
      padding: 5px 13px;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  .cart-summary
  {
    
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-align: left;
      padding: 50px;
      box-shadow: 0 4px 6px rgba(245, 87, 24, 0.979);
  }
  .remove-booking,.checkout-btn ,.rmv{
    background-color: #F46800;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .booking-details{
    display:flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .cl-internal-1dauvpw
  {
    display: none;
  }
  .cl-internal-phfxlr
  {
    margin-left: 450px;
    margin-top: 100px;
  }
  .checkout-btn:hover
  {
   background-color: #E60300;
  }
  .rmv:hover
  {
   background-color: #E60300;
  }
  .cl-formButtonPrimary 
  {
    background-color: #F46800;
    border:none;
  }
  .cl-formButtonPrimary:hover
  {
    background-color: #E60300;
  }