:root
{

    --text-color1:#ffffff;
    --text-color2:black;
    --main-color1:#F46800;
    --main-color2:#E60300;
    --alt-color:#524e4b;
    --ann-color: #c7c6d3;
    --h1-font:4rem;
    --h2-font:3rem;
    --p-font:1rem;
}
.landingpg
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.nav1
{
    width: 100vw;
    display: flex;
    background-color: black;
    color:var(--main-color1);
    box-shadow: 0 4px 6px rgba(245, 87, 24, 0.979);
    gap:3rem;
    font-size:var(--h2-font);
    border-bottom: 2px solid black;
    border-bottom-left-radius:1.5rem;  
    border-bottom-right-radius:1.5rem;
    align-items: center;
    
}

.nav1 img{
    padding: 0.5rem;
    margin-left: 1.5rem;
    height:5rem;
    width: 5rem;
}
.nav1 .logo{
    margin: 0px;
}
.nav1 .location
{   display: flex;
    color:var(--text-color2);
    background-color: white;
    border-radius: 1.5rem;
    font-size: var(--p-font);
    padding: 0.5rem;
    gap: 10px;
   
    align-items: center;
}
.rapit {
    height: 510px;
    width: 100%; 
    position: relative;
    overflow: hidden;
}

 .rapit video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.content {
    position: absolute;
    font-size: 0.9rem; 
    z-index: 2;
    top: 30%;
    left: 50%;
    transform: translate(-10%, -50%); 
    color:black;
    text-align: center;
    font-family:monospace;
}